{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block main %}
    <article class="post">
        <header class="post-head"><h2>{{ post.title }}</h2>
            <section class="post-meta"><span class="author">
                作者：{{ post.author.username }}</span> •
                {{ moment(post.timestamp).format('LLL') }}
            </section>
            <div class="text-right">
                阅读:{{ post.reads }} |
                {% if post.zans < 9999 %}
                    <a href="{{ url_for('main.article_zans', id=post.id) }}">点赞:{{ post.zans }}</a>
                {% else %}
                    点赞:{{ post.zans }}
                {% endif %}
            </div>
        </header>
        <div class="post-content">
            {{ post.body | markdown |safe }}

        </div>
        <footer class="post-footer clearfix"></footer>
        <div>
        {% if post.link  %}
            <a href="{{ post.link }}" class="btn btn-default" target="_blank">原文地址</a>
        {% endif %}
            {% if current_user.is_administrator %}
                <a href="{{ url_for('main.edit_article', id=post.id) }}" class="btn btn-default pull-right">修改文章</a>
            {% endif %}
        </div>
    </article>
    <div class="prev-next-wrap clearfix">
        {#        {% if pagination.has_next %}#}
        {#            <a class="btn btn-default" href="{{ url_for('main.article', id=pagination.next().items[0].id) }}">#}
        {#                下一篇: {{ pagination.next().items[0].title }}#}
        {#                <i class="fa fa-angle-right fa-fw"></i>#}
        {#            </a>#}
        {#        {% else %}#}
        {#            <a class="btn btn-default" href="#">#}
        {#                没有了#}
        {#            </a>#}
        {#        {% endif %}#}
        {#        <a href="#" class="btn btn-default">下一篇</a>#}
    </div>
    <div class="post">
        <h4>评论: </h4>
        <p></p>
        <div class="list-group clearfix">
            {% for commit in commits %}
                <div class="list-group-item">
                    <ul class="list-inline">
                        <li class="profile-thumbnail">
                            <img class="img-rounded profile-thumbnail" src="{{ commit.gravatar(size=40) }}" alt="">
                        </li>
                        <li class="post-date pull-right">{{ moment(commit.timestamp).format('lll') }}</li>
                        <li class="post-author">
                            <p>{{ commit.name }}</p>
                        </li>
                    </ul>
                    <div class="post-content">
                        {{ commit.body | safe }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <form action="{{ url_for('main.article', id=post.id) }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group " style="width: 30%">
                {{ form.name.label }}
                {{ form.name(class_='form-control') }}
            </div>
            <div class="form-group" style="width: 30%">
                {{ form.email.label }}
                {{ form.email(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.body.label }}
                {{ form.body(class_='form-control') }}
            </div>
            <input type="submit" value="submit" class="btn btn-default">
        </form>
    </div>

{% endblock %}